body {
  text-align: center;
  background-color: #283149;
  font-family: 'Poppins', cursive;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
}

.w {
  text-transform: uppercase;
  background-image: url('images/tom1.png');
}

.a {
  text-transform: uppercase;
  background-image: url('images/tom2.png');
}

.s {
  text-transform: uppercase;
  background-image: url('images/tom3.png');
}

.d {
  text-transform: uppercase;
  background-image: url('images/tom4.png');
}

.j {
  text-transform: uppercase;
  background-image: url('images/snare.png');
}

.k {
  text-transform: uppercase;
  background-image: url('images/crash.png');
}

.l {
  text-transform: uppercase;
  background-image: url('images/kick.png');
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}